/* This is needed else Map will collapse in 0 dimensions */


.arrowheads {
    color: "red";
}

/* .depiction {
    z-index: 1000;
    position: absolute;
    height: 120px;
    left: 420px;
    top: 380px;
} */

.locationsLine {
    fill: none;
    opacity: 1;
    stroke-width: 3px;
}

.travelMarker {
    fill: yellow;
    opacity: 0.75;
}

.leaflet-popup-content {
    min-width: 200px;
}
